@model TheaterBooking.Web.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "تغییر کلمه عبور";
}
<h2>
    تغییر کلمه عبور</h2>
<div>
    @using (Html.BeginForm("ChangePassword"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="editor-label">
            کلمه عبور فعلی
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
        </div>
        <div class="editor-label">
            کلمه عبور جدید
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
        </div>   
        <div class="editor-label">
            تکرار کلمه عبور جدید
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>  
        
              
        <ul class="controlButtonsSet">
            <li><a href="javascript:void(0)" id="lnkChange">تایید</a></li>
            <li>|</li>
            <li><a href="@Url.Action("Manage")" id="lnkReturn">بازگشت</a></li>
        </ul>  
    }
</div>
<script type="text/javascript">
    $(function () {
        $("#lnkChange").click(function () {
            $($(this).parents("form")[0]).submit();
        });

        $("#lnkChange").Iconize("ui-icon-check");
        $("#lnkReturn").Iconize("ui-icon-arrowreturnthick-1-w");

    });
</script>
