@model IEnumerable<TheaterBooking.Entities.Show>
@{
    ViewBag.Title = "مدیریت نمایش ها";
}
<h2>
    مدیریت نمایش ها
</h2>
<div>
    <ul class="controlButtonsSet">
        <li><a href="@Url.Action("Create")" id="lnkAdd">نمایش جدید</a></li>
    </ul>
    <i>برای تنظیم زمان های اجرا بر روی عنوان نمایش کلیک کنید</i><br />
    <br />
    <table class="defaultList">
        <thead>
            <tr>
                <th style="width: 300px;">
                    عنوان نمایش
                </th>
                <th style="width: 100px;">
                    وضعیت
                </th>
                <th style="width: 100px;">
                    تاریخ ایجاد
                </th>
                <th class="controlColumn">
                </th>
            </tr>
        </thead>
        <tbody>
            @{bool even = true;}
            @foreach (var item in Model)
            {
                even = !even;
                <tr class='@(even ? "alt" : "")'>
                    <td>
                        <b><a href="@Url.Action("List", "ShowTime", new { Id = @item.ShowId })">@item.Title
                        </a></b>
                    </td>
                    <td>
                        @(item.IsActive ? "فعال" : "آرشیو (غیر فعال)")
                    </td>
                    <td>
                        @item.CreationDate.ToPersian()
                    </td>
                    <td align="center">
                        <a class="ptr_row_edit" href="@Url.Action("Edit", new { Id = @item.ItemId })">ویرایش</a>
                        <a class="ptr_row_delete" href="@Url.Action("Delete", new { Id = @item.ItemId })">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function () {


        $("#lnkAdd").Iconize("ui-icon-plus");
        $(".ptr_row_edit").Iconize("ui-icon-pencil");
        $(".ptr_row_delete").Iconize("ui-icon-trash");


        $(".ptr_row_delete").click(function () {
            return (confirm("با حذف این نمایش کلیه زمان های اجرا و نیز اطلاعات مربوط به رزرو صندلی ها از بین خواهد رفت، آیا مطمئنید ؟"))
        });

    });
</script>
